body {
  font-family: Arial, sans-serif, "Roboto";
  background-color: #f5f5f5;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.main-heading {
  font-family: 'Roboto';
  color: #33373a;
  font-weight: 700;
}

